.newsletter {
    background-color: $black;
    border:1px solid $black;
    /*margin: 70px 50px 70px 50px;*/
    color: $white;
    height: 100px;
    width: 70px;
    margin-left: 2rem;
    margin-bottom: 3rem;

}